body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Monoton', cursive;
  margin: 30px 0 0 0;
}
h2 {
  font-size: 50px;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 28px;
  text-align: center;
}

/* Links */
.links {
  font-size: 40px;
    margin: 10px 0px;
    border-width: 4px;
    border-radius: 10px;
    background: white;
    padding: 5px 10px;
    border-style:inset;
    border-width: 5px;
    border-color: rgb(125, 125, 125)
}
.links:hover {
  background-color: rgb(3, 155, 229);
  color: white;
  }
a {
  color: black;
  text-decoration: none;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Colors */
.blue {
  color:rgb(3, 155, 229);
}
.green {
  color: rgb(90, 215, 37);
}
.purple {
  color: rgb(140, 55, 237);
}

/* Instructions Text */
.objectInfo {
  display: flex;
  display: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto auto;
  line-height: 1.4;
  font-size: 20px;
}
.objectGamePlay {
  display: block;
  line-height: 1.4;
  font-size: 20px;
  margin: 20px 80px;
}
.gamePlayWrapper {
  margin: 0 50px;
}
/*----------------------*/