/* Container for the 12 cards game grid */
.gameGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

/* Individual cards style */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  border: black solid 1px;
  border-radius: 8px;
}

/*Inner Shape Default Style */
.blankShape {
  width: 40px;
  height: 40px;
  margin: 10px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
/*Items that will be altered in JS */
  border-color: #000000;
  background: white;
/* ------------ */
}

/* Shading Properties */
.stripedBlue {
  background:repeating-linear-gradient(
    to right,
    #039BE5 2px,
    #039BE5 4px,
    #ffffff 4px,
    #ffffff 7px);
    border-color: #039BE5;
}

.stripedGreen {
  background:repeating-linear-gradient(
    to right,
    #5ad725 2px,
    #5ad725 4px,
    #ffffff 4px,
    #ffffff 7px);
    border-color: #5ad725;
}

.stripedPurple {
  background:repeating-linear-gradient(
    to right,
    #8c37ed 2px,
    #8c37ed 4px,
    #ffffff 4px,
    #ffffff 7px);
    border-color: #8c37ed;
}

/* Solid Property of Shading */
.solidBlue {
  background:#039BE5;
  border-color: #039BE5;
}
.solidGreen {
  background:#5ad725;
  border-color: #5ad725;
}
.solidPurple {
  background:#8c37ed;
  border-color: #8c37ed;
}

/* Outline Property of Shading */
.outlineBlue {
  border-color: #039BE5;
}
.outlineGreen {
  border-color: #5ad725;
}
.outlinePurple {
  border-color: #8c37ed;
}
/* -------------------- */

/* Shape Properties */
.circle {
  border-radius: 50px;
}

.square {
  border-radius: 0px;
}

.semiCircle {
  border-radius: 10rem 10rem 0 0;
}
/* -------------------- */

/* Game Play Buttons */
.reShuffle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.set {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.checkSet {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
/* -------------------- */